.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.idea/
.vscode/
*.iml
android/.gradle/
android/local.properties
android/.kotlin/
.gradle-local-maven/
android/hs_err_pid*.log
android/replay_pid*.log
ios/Pods/
ios/Flutter/ephemeral/
__pycache__/
*.pyc
